<div id="ekomi-data" data-shop-id="112807" data-widget-token="sf1128075c866649c695e" data-widget-lang="es" ></div>
<div id="widget-container" class="data-ekomi-emp ekomi-widget-container ekomi-widget-sf1128075c866649c695e"></div>
<div id="ekomi-product-widget-identifier" class="prod-data-emp"  style="visibility: hidden">{{ product.id }}</div>
