.contact {
    padding: 20px 0 0;
    height: 100%;

    .contact-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10px;

        input, textarea {
            height: 40px;
            border: 1px solid #66b3ff;
            border-radius: 10px;
            margin-bottom: 10px;
            padding: 0 20px;
            outline: none;
        }

        textarea {
            height: 100px;
            resize: none;
            margin: 0;
            padding: 10px 20px;
        }
    }

    .contact-info {
        

        li {
            display: flex;
            flex: 1;
            align-items: center;
            margin: 0 auto 20px;

            i {
                font-size: 30px;
                margin-right: 20px;
            }

            h3 {
                margin: 5px 0 5px;
            }

            p {
                margin: 0;
                font-size: 16px;
            }
        }
    }
}
@media screen and (min-width: 576px) {
    .contact .contact-info {
        display: flex;
        flex-direction:column;

        margin-top: 0px;
        li {
            width: 50%;

        }

    }
}
@media screen and (min-width: 768px) {
    .contact .contact-info {
        margin-top: 0px;
        li {
        	width: 100%;
        }
        .contact-info {
            ul {
                display: flex;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .contact {
        padding-top: 40px;
        .contact-form {
            margin-bottom: 30px;
        }
    }
}

@media screen and (min-width: 1200px) {}