
.navigation {
        .nav-btn-holder {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100vh;
            transition: all .3s;
            overflow: hidden;
        .nav-btn {
            position: absolute;
            top: 50px;
            right: 25px;
            width: 50px;
            height: 50px;
            cursor: pointer;
            z-index: 1;

           
            .bar-1, .bar-2, .bar-3 {
                display: block;
                position: relative;
                margin: 10px 0;
                width: 100%;
                height: 5px;
                background-color: #66b3ff;
                transition: all .2s;
            }

        }
    }

nav {
    position: absolute;
    top: 0;
    left: -100%;
    background-color: rgba(64, 64, 64, 0.8);
    width: 100%;
    height: 100vh;
    transition: all .3s;

    ul {
        margin-top: 100px;

        li {
            display: flex;
            flex-direction: column;
            flex: 1;
        }

        a {
            flex: 1;
            line-height: 100px;
            text-align: center;
            font-size: 26px;
            font-weight: 700;
            color: #66b3ff;

            &:hover {
                text-decoration: none;
                color: #fff;
            }
        }
    }
}

}
@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {
.navigation {
        .nav-btn-holder {
        width: 25%;
    }
    nav {
        width: 25%;

        ul {
            margin-top: 150px;

            li {
                border-top: 1px solid rgba(102, 179, 255, 0.2);

                a {
                    font-size: 30px;
                    line-height: 100px;
                }
            }
        }
    }
}
}

@media screen and (min-width: 1200px) {}