.social-links {
    background-color: #f4f4f4;
    margin-top: 60px;
    padding: 10px 0;
    text-align: center;

    h3 {
        // margin:0 0 15px;
        display: none;
    }

    ul {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 3px solid #66b3ff;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        & li:first-child {
            margin-right: 20px;

            a {
                width: 50px;
                line-height: 50px;
                border-radius: 50%;
                display: block;
                text-indent: -9999px;
                background: url("../img/socIcons1.png") -78px -8px;
                transition: all 0.3s;
            }
        }

        & li:nth-child(2) {
            margin-right: 20px;

            a {
                width: 50px;
                line-height: 50px;
                border-radius: 50%;
                display: block;
                text-indent: -9999px;
                background: url("../img/socIcons1.png") -12px -8px;
                transition: all 0.3s;
            }
        }
            & li:nth-child(3) {
            margin-right: 0;

            a {
                width: 50px;
                line-height: 50px;
                border-radius: 50%;
                display: block;
                text-indent: -9999px;
                background: url("../img/socIcons1.png") -144px -8px;
                transition: all 0.3s;
            }
        }
    }
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {
    .social-links {
        h3 {
        	margin: 10px 0;
            display: block;
        }

        ul {
            & li:first-child {
                a {
                    &:hover {
                        background: url("../img/socIcons1.png") -78px -52px;
                    }
                }
            }

            & li:nth-child(2) {
                a {
                    &:hover {
                        background: url("../img/socIcons1.png") -12px -56px;
                    }
                }
            }
             & li:nth-child(3) {
                a {
                    &:hover {
                        background: url("../img/socIcons1.png") -144px -52px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {}